# Ignore Gradle's project-specific cache directory:
/.gradle/

# Ignore Gradle's build output directories:
/apps/build/
/build/
/library/build/

# Ignore IDE-specific directories:
/.idea/
/.nb-gradle/

# Ignore extracted native libraries:
*.dll
*.dylib
*.so

# Ignore profiler folders:
/config/Preferences/
/config/Windows2Local/
/var/