---
# GitHub Actions workflow for commits pushed to the KK Physics repo - all branches

name: CI at GitHub
on: [push]

jobs:
  Java17-Linux:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: actions/checkout@v5
      - uses: gradle/actions/wrapper-validation@v4
      - run: ./gradlew build --console=plain --stacktrace

  Java17-MacOS:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: macOS-13
    timeout-minutes: 5
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: actions/checkout@v5
      - run: ./gradlew build --console=plain --stacktrace

  Java21-MacOS:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: macOS-15
    timeout-minutes: 5
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: actions/checkout@v5
      - run: ./gradlew build --console=plain --stacktrace

  Java21-Windows:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: windows-2025
    timeout-minutes: 5
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: actions/checkout@v5
      - run: ./gradlew build --console=plain --stacktrace
        shell: bash

  Java24-Linux:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 24
      - uses: actions/checkout@v5
      - run: ./gradlew build --console=plain --stacktrace
